.container {
	transition: transform 0.5s ease;
}

.screen_one{
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.emptybox{
	height: 300vh;
}

.header{
	font-family: 'Raleway', sans-serif;
	font-size: 30px;
	font-weight: 400;
	color: $black !important;
	display: flex;
	align-items: center;
	text-decoration: none !important;
	max-width: 500px;
	text-align: center;
}

.button{
	border: 2px solid $grey;
	border-radius: 12px;
	text-decoration: none;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	color: $black !important;
	padding: 10px 30px;
	text-decoration: none !important;
	transition: box-shadow 0.33s ease;
}

.button:hover,
.button:focus,
.button.active{
	box-shadow: 4px 4px 0px 2px rgba(0, 0, 0, 1);
}

/* SMALL SCREENS */

@media only screen and (max-width: 767.98px) {


}

/* MEDIUM SCREENS */

@media only screen and (min-width: 768px) and (max-width: 991.98px) {
	
}

/* LARGE SCREENS */

@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
	
}
