.popup_tooltip {
  min-width: 200px;
  border-radius: 8px;
  margin: 0 0 8px 0;
  background: $white;
  font-family: "Roboto", sans-serif !important;
  font-size: 12px;
  font-weight: 500;
  color: $black;
  box-shadow: 2px 2px 8px 4px rgba(0, 0, 0, 0.2);
  display: block;
  position: relative;
}

.spinner_container{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100px;
}

.info_container{
  display: flex;
  flex-direction: column;
  padding: 20px;
  min-height: 100px;
}

.blue_spinner{
  border: 3px solid $skyblue;
  border-top: 3px solid transparent;
  border-right: 3px solid transparent;
}

.popup_details{
  display: flex;
  align-items: center;
}

.item_price{
  font-family: "Roboto", sans-serif !important;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.eth_icon{
  display: block;
  width: 14px;
  height: 24px;
  margin-right: 8px;
  background: url("/icons/etherium.svg");
  background-position: center;
  background-size: cover;
}

.item_tag{
  font-family: "Raleway", sans-serif !important;
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 0;
}

.item_time{
  font-family: "Roboto", sans-serif !important;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 0;
  color: $black-7;
}

.item_time.mini{
  font-size: 12px;
  color: $grey;
}

.item_link{
  display: block;
  min-width: 100%;
  cursor: pointer;
  color: $black;
  text-decoration: none !important;
  padding: 10px 20px;
  text-align: center;
  font-family: "Quicksand", sans-serif !important;
  font-size: 14px;
  font-weight: 300;
  border: none;
  outline: none !important;
  background: $white;
  border-top: 1px solid $white-7;
  border-radius: 0 0 8px 8px;
}

.item_link:hover{
  color: $skyblue;
  background: $white-10;
}

.close_icon{
  display: block;
  min-width: 32px;
  min-height: 32px;
  background: url("/icons/close.svg");
  background-position: center;
  background-size: cover;
  transform: scale(0.9,0.9);
  opacity: 1;
  transition: transform 0.33s ease;
}


.add_stamp:hover .add_icon{
  transform: scale(1,1);
}