.header{
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 12px;
	padding: 20px 0;
}

.header_middle{
	display: flex;
	justify-content: center;
	align-items: center;
}

.username_btn{
	display: flex;
	font-family: 'Roboto', sans-serif;
	cursor: pointer;
	border-radius: 0 8px 8px 0;
	color: $black;
	font-size: 12px;
	padding: 1rem;
	margin: 0;
	background: $white-9;
}

.username_btn:hover,
.username_btn:focus{
	background: #FFDCDC;
	text-decoration: underline $black 1px;
};

.text{
	font-family: 'Raleway', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 21px;
	text-align: center;
	letter-spacing: 0.5em;
	color: $black;
	font-size: 12px;
	margin: 0 8px;
}

.btn{
	letter-spacing: unset;
	font-family: 'Roboto', sans-serif;
	cursor: pointer;
	background: $white-8;
	border-radius: 8px;
	color: $black;
	font-size: 12px;
	padding: 0 6px;
	margin: 0 8px;
}

.btn:hover{
	box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.1);
}

.check_icon{
	display: block;
	background: url("/icons/check_circle.svg");
	width: 1rem;
	height: 1rem;
	border-radius: 50%;
	background-position: center;
	background-size: cover;
	filter: $f-green;
}

.display_box{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.tabs_list{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin: 20px 0;
}

.tab_item{
	cursor: pointer;
	display: flex;
	align-items: center;
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: $black-9;
	border-bottom: 2px solid transparent;
	margin: 0 20px;
	padding: 0 4px;
	white-space: nowrap;
}

.tab_item:hover,
.tab_item:focus,
.tab_item.active{
	border-bottom: 2px solid $black;
}

.tab_item.green:hover,
.tab_item.green:focus,
.tab_item.green.active{
	border-bottom: 2px solid $green;
}

.tab_item.skyblue:hover,
.tab_item.skyblue:focus,
.tab_item.skyblue.active{
	border-bottom: 2px solid $skyblue;
}

.tab_item.yellow:hover,
.tab_item.yellow:focus,
.tab_item.yellow.active{
	border-bottom: 2px solid $yellow;
}

.tab_item.red:hover,
.tab_item.red:focus,
.tab_item.red.active{
	border-bottom: 2px solid $red;
}

.tab_icon{
	display: block;
	width: 16px;
	height: 16px;
	margin-right: 6px;
}

.icon_focus{
	background: url("/icons/center_focus.svg");
	background-clip: cover;
	background-position: center;
	filter: $f-red;
}

.error_box,
.message_box{
	margin: 0px 20px 20px 20px;
	height: 70vh;
	border-radius: 10px;
	padding: 25%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	background: $white-10;
}

.message_box{
	background: transparent;
	padding: 15%;
}

.message_box p.smalltext,
.smalltext{
	font-size: 10px;
	width: 60%;
	padding-top: 5px;
}

.cover_image{
	width: 100%;
	height: 200px;
	object-fit: cover;
	object-position: center;
}

.refresh_link{
	cursor: pointer;
	color: $skyblue;
	text-decoration: underline $skyblue;
}

.badge_container{
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: flex-start;
	overflow-y: auto;
	max-height: 70vh;
}

.badge_item{
	cursor: pointer;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 20px;
	flex-basis: 20%;
	position: relative;
}

.badge_item.small{
	width: 100%;
	padding: 0 10% 0 5%;
	overflow-y: scoll;
	max-height: 70vh;
	align-items: flex-start;
}

.badge_benefit{
	width: 90%;
	margin-left: 20px;
}

.badge_image{
	display: block;
	width: 100%;
	height: auto;
	object-fit: cover;
	object-position: center;
	transform: scale(1,1);
	transition: transform 0.3s ease;
}

.badge_image.small{
	width: 200px;
	height: 200px;
	margin-right: 20px;
}

.badge_image:hover{
	transform: scale(1.03,1.03);
}

.error_box img{
	width: 100px;
	height: 100px;
	object-fit: cover;
	object-position: center;
}

.error_box a{
	color: $darkblue;
	text-decoration: underline $darkblue;
}

.giveaway_box{
	margin: 0px 20px 20px 20px;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.giveaway_listbox{
	display: flex;
	flex-direction: column;
	overflow-y: auto;
	max-height: 70vh;
}

.giveaway_box p{
	font-size: 12px;
}

.giveaway_item{
	display: flex;
	justify-content: flex-start;
	align-items:center;
	padding: 20px;
}

.giveaway_item > .giveaway_image{
	display: block;
	object-fit: cover;
	object-position: center;
	flex: 1;
	width: 150px;
	height: 150px;
}

.giveaway_item > .giveaway_info{
	flex: 4;
	display: block;
	margin-left: 30px;
}

.giveaway_info p{
	font-size: 14px;
}

.giveaway_amount{
	font-size: 14px;
	margin-right: 10px;
	font-weight: 900;
	color: $grey;
}

.giveaway_link{
	display: block;
	padding: 5px 20px;
	background: $white-9;
	margin-right: 10px;
	font-size: 12px;
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	cursor: pointer;
	border-radius: 4px;
}

.giveaway_link.big{
	font-size: 16px;
	padding: 10px 30px;
	display: flex;
	align-items: center;
}

.spinner_in_btn{
	margin: 0 10px 0 0;
}

.giveaway_link.green{
	background: $green;
	color: $white;
}

.end_button{
	margin-left: auto;
}

.input_btn {
	display: flex;
	position: relative;
	align-items: center;
	background: transparent;
	border-radius: 4px;
	font-family: "Roboto", sans-serif;
	font-size: 14px;
	font-weight: 500;
	padding: 0.75em 0.5em 0.75em 1em;
	background: $white-10;
	color: $black-9;
	margin: 0;
}


.input_icon {
	background: url("/icons/keyboard.svg");
	width: 1.5em;
	height: 1.5em;
	margin-right: 0.5em;
	background-position: center;
	background-size: cover;
	opacity: 0.5;
}

.input_text{
	width: 100%;
	color: inherit;
	background: transparent;
	border: none !important;
	outline: none !important;
	margin-bottom: 0;
}


/* SMALL SCREENS */

@media only screen and (max-width: 767.98px) {

	.tabs_list{
		margin: 0;
		padding: 20px 0;
		overflow-x: scroll;
	}

	.smhide{
		display: none;
	}

	.giveaway_item{
		flex-wrap: wrap;
		padding: 20px 0;
		justify-content: center;
	}

	.giveaway_item > .giveaway_image{
		flex: unset;
	}

	.giveaway_item > .giveaway_info{
		flex: unset;
		margin-left: unset;
	}

	.giveaway_info h2{
		font-size: 18px;
		text-align: center;
	}

	.giveaway_info p{
		font-size: 13px;
		text-align: center;
	}

}
