.screen_four{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 100px 0 0 0;
	background: $black-11;
}

.four_title{
	font-family: 'Quicksand', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 36px;
	color: $white;
	margin-bottom: 30px;
	padding: 24px 0;
	max-width: 65%;
	text-align: center;
}

.add_stamp{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 30px;
	height: 90px;
	padding: 30px;
	border: 2px solid $white;
	border-radius: 12px;
	cursor: pointer;
}

.add_icon{
	display: block;
	min-width: 32px;
	min-height: 32px;
	background: url("/icons/add_minimal.svg");
	background-position: center;
	background-size: cover;
	opacity: 0;
	filter: $f-white;
	transform: scale(0.9,0.9);
	transition: opacity 0.33s ease, transform 0.33s ease;
}

.add_stamp:hover .add_icon{
	opacity: 1;
	transform: scale(1,1);
}

.social_links{
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 60px 0 20px 0;
}

.link_text{
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 16px;
	color: $white-8 !important;
	padding: 0 8px;
	text-align: center;
	text-decoration: underline $white-8 !important;
	opacity: 0.5;
}

.link_text:hover,
.link_text:focus{
	opacity: 1;
}



/* SMALL SCREENS */

@media only screen and (max-width: 767.98px) {
	.screen_four{
		padding-top: 50px;
	}

	.four_title{
		font-size: 18px;
	}

	.link_text{
		font-size: 14px;
	}
	
}

/* MEDIUM SCREENS */

@media only screen and (min-width: 768px) and (max-width: 991.98px) {
	.screen_four{
		padding-top: 50px;
	}

	.four_title{
		font-size: 20px;
	}

	.link_text{
		font-size: 14px;
	}
}

/* LARGE SCREENS */

@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
	.four_title{
		font-size: 26px;
	}

	.link_text{
		font-size: 14px;
	}	
}