.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	left: 0;
	right: 0;
	top: 0;
	position: fixed;
	background: $white;
	box-shadow: 2px 2px 8px 4px rgba(0, 0, 0, 0.08);
	padding: 0px 25px;
}

.header > div{
	//flex: 1;
}

.logo_icon {
	display: block;
	background: url("/logo_favicon.svg");
	width: 4rem;
	height: 4rem;
	background-position: center;
	background-size: cover;
}


.logo_font{
	font-family: 'Abril Fatface', cursive;
	font-size: 20px;
	font-weight: 400;
	color: $black !important;
	display: flex;
	align-items: center;
	text-decoration: none !important;
	padding: 30px 0;
}

.buttons{
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.button_font{
	cursor: pointer;
	font-family: 'Raleway', cursive;
	font-size: 16px;
	font-weight: 500;
	color: $black;
	display: flex;
	align-items: center;
	text-decoration: none !important;
	padding: 0 30px;
}

.button_font:hover,
.button_font:focus{
	color: $darkblue;
}



/* SMALL SCREENS */

@media only screen and (max-width: 767.98px) {
	
	.logo_icon{
		width: 2.5rem;
    	height: 2.5rem;
	}

}