.read_more{
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	color: $skyblue;
	margin-bottom: 0;
	margin-left: 5px;
}

.read_more.complete{
	margin-top: 40px;
	margin-right: 20px;
	font-size: 16px;
	color: $black !important;
	text-decoration: none !important;
	background: $white;
	border-radius: 8px;
	padding: 10px 20px;
	box-shadow: 2px 2px 8px 4px rgba(0, 0, 0, 0.08);
	display: flex;
	align-items: center;
}

.icon_question{
  background: url("/icons/help.svg");
}

.icon_whitepaper{
  background: url("/icons/article.svg");
}

.icon_invest{
  background: url("/icons/invest.svg");
}

.icon_roadmap{
  background: url("/icons/flag.svg");
}

.icon_presale{
  background: url("/icons/flash.svg");
}

.icon_home{
	background: url("/icons/home.svg");
}

.read_more .icon{
  display: block;
  width: 18px;
  height: 18px;
  margin-right: 8px;
  background-position: center;
  background-size: cover;
}



.read_more:hover,
.read_more:focus{
	color: $skyblue;
	text-decoration: none;
	opacity: 0.8;
}

.read_more.complete:hover,
.read_more.complete:focus{
	opacity: 1;
	text-decoration: underline;
	box-shadow: 2px 2px 8px 4px rgba(0, 0, 0, 0.2);
}


.bottom_buttons{
	display: flex;
	justify-content: flex-start;
	margin-top: 20px;
}


/* SMALL SCREENS */

@media only screen and (max-width: 767.98px) {

	
	.bottom_buttons{
		flex-wrap: wrap;
	}

	.read_more.complete{
		font-size: 14px;
		margin-right: 10px;
		padding: 3px 14px;
		margin-top: 10px;
	}

	.read_more > .icon{
		width: 12px;
		height: 12px;
		margin-right: 4px;
	}
}

/* MEDIUM SCREENS */

@media only screen and (min-width: 768px) and (max-width: 991.98px) {
	

}

/* LARGE SCREENS */

@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
	
}

