html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover,
a:focus{
  color: $black;
}

* {
  box-sizing: border-box;
}

.wrapper{
  	background: $white;
}

.page_container{
  margin-top: $header-height;
	display: block;
	position: relative;
	z-index: 0;
	background: $white;
}

.page_wrapper{
  margin-top: $header-height;
  min-height: 100vh;
}

.page_container.hide_page{
	display: none;
}

.icon {
	display: block;
	width: 1.5em;
	height: 1.5em;
	background-position: center !important;
	background-size: cover !important;
}

.popup-content {
  left: $sidebar-width;
}

.not_link,
.diva{
	outline: none !important;
	text-decoration: none !important;
}

.d-vert-center{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.divider{
  border-top: 1px solid $white-8;
}

/* OTHER */


.hide_scroll {
  //-ms-overflow-style: none;
  box-sizing: border-box;
  -ms-overflow-style: none; /* IE 11 */
  scrollbar-width: none; /* Firefox 64 */
}

.hide_scroll::-webkit-scrollbar {
  display: none;
}

.hide_scroll::-webkit-scrollbar-track {
  display: none;
}

.hide_scroll::-webkit-scrollbar-thumb {
  display: none;
}

.hide_scroll::-webkit-scrollbar-thumb:hover {
  display: none;
}

/* horiz_scroll */


/* width */
.horiz_scroll::-webkit-scrollbar {
  height: 2px;
}

/* Track */
.horiz_scroll::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
.horiz_scroll::-webkit-scrollbar-thumb {
  background: $white-7;
}

/* Handle on hover */
.horiz_scroll::-webkit-scrollbar-thumb:hover {
  background: $black-7;
}


.hidden {
  overflow: hidden;
}

.overlay {
  overflow: overlay;
}

.unselectable {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.popup-content{
  z-index: 9999 !important;
}

/* ICONS */


.all{
  background: url($asset-url+"/icons/shuffle.svg");
}

.ethereum,
.ropsten,
.rinkeby
.eth{
  background: url($asset-url+"/icons/sq_etherium.svg");
}

.binance,
.bsc,
.bsc.testnet{
  background: url($asset-url+"/icons/sq_binance.svg");
}

.polygon,
.mumbai{
  background: url($asset-url+"/icons/sq_polygon.svg");
}

.avalanche,
.avalanche.testnet{
  background: url($asset-url+"/icons/sq_avalanche.svg");
}

.price_desc{
  background: url($asset-url+"/icons/paid.svg");
}

.price_asc{
  background: url($asset-url+"/icons/infinity.svg");
}

.created_desc{
  background: url($asset-url+"/icons/watch_later.svg");
}

.created_asc{
  background: url($asset-url+"/icons/hourglass.svg");
}

.opensea{
  background: url($asset-url+"/icons/ext_opensea.svg"); 
  opacity: 0.25;
}

.twitter{
  background: url($asset-url+"/icons/twitter.svg"); 
  opacity: 0.25;
}

.instagram{
  background: url($asset-url+"/icons/instagram.svg"); 
  opacity: 0.25;
}

.discord{
  background: url($asset-url+"/icons/discord.svg"); 
  opacity: 0.25;
}

.new_tab{
  background: url($asset-url+"/icons/open_in_new.svg"); 
  opacity: 0.25;
}

.public{
  background: url($asset-url+"/icons/public.svg"); 
  opacity: 0.25;
}

.hover_op:hover,
.hover_op:focus{
  opacity: 1;
}

.opensea:hover,
.opensea:focus{
  opacity: 1;
  filter: $f-skyblue;
}